@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', serif;
}

#header {
    z-index: 3;
    padding: 10px 0px;
    text-align: center; 
    position: fixed;
    top: 0;
    width: 100%;
    transition:  0.3s;
}

.fa-search {
    color: #fff;
}

.nav-link {
    margin: 0px 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    font-weight: 600;
}

.hero-img-overlay {
    position: relative;
    background-image: url("../images/hero-bg-img.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

.hero-img-overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.66;
    z-index: -1;
}

.title-text-home {
    padding-right: 30px;
}

.title-text h1 {
    font-size: 32px;
    font-weight: 600;
    padding: 180px 0px;
    color: #fff;
}

.title-text-home h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 45px;
    color: #fff;
}

.title-text-home p {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
}

.register-form {
    border-top: 8px solid #0CBBC0;
    background-color: #fff;
}

.register-form h3 {
    padding: 40px 0px;
    font-size: 22px;
    font-weight: 700;
}

.register-form input {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

.register-form button {
    width: 80%;
    padding: 14px 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-style: none;
    background-color: #0CBBC0;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.slider-image {
    position: relative;
    background-image: url("../images/hero-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
    z-index: -1;
}

.slider-image:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #1a1919;
    opacity: 0.66;
    z-index: -1;
}

.section-padding {
    padding: 80px 0px;
}

.section-padding-top {
    padding-top: 70px;
}

.section-heading h3 {
    padding-top: 30px;
    padding-bottom: 60px;
    font-weight: 800;
}

.section-heading-white {
    padding: 5px;
    position: relative;
    padding: 6rem 0px;
    z-index: 1;
}

.section-heading-white h3 {
    font-size: 2.2rem;
    padding-bottom: 10px;
    font-weight: 800;
    color: #fff;
}

.section-heading-white p {
    font-size: 0.9rem;
    font-weight: 500;
    vertical-align: middle;
    color: #fff;
    line-height: 1.7rem;
}

.feature {
    background-color: #FBFBFB;
}

.feature-item h5 {
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: 700;
    color: #1a1919;
}

.feature-item p, .speech p {
    padding-top: 20px;
    padding-right: 30px;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 25px;
    color: rgb(114, 113, 113);
}

.main-btn {
    border-style: none;
    color: #fff;
    margin-top: 20px;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Zilla Slab', serif;
    border-radius: 25px;
    background-color: #0CBBC0;
}

.speech span {
    padding: 5px 25px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    background-color: #414040;
    color: #fff;
}

.speech h3 {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 700;
}

.home-image {
    position: relative;
    background-image: url("../images/half-image.jpeg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.service-item img {
    padding: 40px 0px;
}

.service-item h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

.service-item p {
    padding: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 25px;
    color: #8A8A8A;
}

.service-item:hover {
    background-color: #f7f7f7;
}

.team-member {
    background-color: #FBFBFB !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 5px rgb(216, 213, 213) !important;
}

.team-member img {
    margin-top: 50px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
}

.card-title {
    font-size: 1em;
    font-weight: 700;
    line-height: 5px;
    color: #686767;
}

.card-caption {
    padding-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 5px;
    color: rgb(121, 121, 121);
}

.card-text {
    padding: 20px 0px;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 25px;
    color: rgb(114, 113, 113);
}

.bg-overlay {
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: -1;
}

.bg-overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.66;
    z-index: -1;
}

.blog {
    text-align: start;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #faf9f9;
    box-shadow: 2px 2px 10px rgb(245, 245, 245);
    border-radius: 5px;
}

.blog h5 {
    font-size: 16px;
    font-weight: 900;
    color: #444444;
    padding: 20px 10px;
}

.blog p {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.7rem;
    color: #8A8A8A;
    padding: 0px 10px;
}

.blog a {
    text-decoration: none;
    padding: 20px 10px;
    font-size: 13px;
    font-weight: 900;
    color: #0ecbce;
}

.fa-quote-right {
    margin-top: 25px;
    color: #0CBBBF;
    font-size: 1rem;
    font-weight: 800;
}

.testimonial span {
    color: #8A8A8A;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
}

.clients-logo-1 {
    padding: 20px;
    height: 20px;
    width: 100%;
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.clients-logo-2 {
    padding: 20px;
    height: 20px;
    width: 100%;
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.clients-logo-3 {
    padding: 20px;
    height: 20px;
    width: 100%;
    background-image: url("../images/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.clients-logo-4 {
    padding: 20px;
    height: 20px;
    width: 100%;
    background-image: url("../images/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.clients-logo-5 {  
    padding: 20px;
    height: 20px;
    width: 100%;
    background-image: url("../images/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    color: #fff;
    background-color: #1d1d1d;
}

.footer-link a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
}

.social-link h5 {
    padding-bottom: 20px;
}

.social-logo {
    margin: 3px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-logo:hover {
    background-color: #0CBBBF;
    border: 1px solid #0CBBBF;
}

.footer-white {
    color: #000;
    background-color: #FBFBFB;
}

.footer-white a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    color: #000;
}

.social-white h5 {
    padding-bottom: 20px;
}

.social-logo-white {
    margin: 3px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.social-logo-white:hover {
    background-color: #0CBBBF;
    border: 1px solid #0CBBBF;
}